<!-- <div class="row">
  <div class="span4">
    <h4>Mentorando Jo達o</h4>
    <ul class="list-button">
      <li class="list-button-item">Conversa com mentor Adalberto</li>
      <li class="list-button-item">Conversa com tutora Joana</li>
    </ul>
    <br /><br />
    <h4>Mentorando Jo達o</h4>
    <ul class="list-button">
      <li class="list-button-item">Conversa com mentor Adalberto</li>
      <li class="list-button-item">Conversa com tutora Joana</li>
    </ul>
    <br /><br />
    <h4>Mentorando Jo達o</h4>
    <ul class="list-button">
      <li class="list-button-item">Conversa com mentor Adalberto</li>
      <li class="list-button-item">Conversa com tutora Joana</li>
    </ul>
  </div>
  <div class="span4 offset1">
    <h4>Mentorando Jo達o</h4>
    <ul class="list-button">
      <li class="list-button-item">Conversa com mentor Adalberto</li>
      <li class="list-button-item">Conversa com tutora Joana</li>
    </ul>
  </div>
</div> -->
<% @users.each do |user| %>
  <div class="span4" style="float: left; margin-bottom: 30px">
    <h4>Aluno <%= user.first_name %> (<%= user.username %>)</h4>
    <ul class="list-button">
      <%= user.chats.each do |chat| %>
        <li class="list-button-item">Conversa com mentor <%= chat.contact.first_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>