<ul class="breadcrumb-mini">
  <li class="breadcrumb-mini-item breadcrumb-mini-compact icon-arrow-right-separator-gray_16_18-after">
    <%= link_to "Home", '/', :class => "breadcrumb-mini-link icon-home-lightblue_16_18-before" %></li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">Conversas de João</li>
</ul>
<br /><br />
<div class="row">
  <div class="span7 offset1">
    <ul class="list-button">
      <li class="list-button-item">Conversa com mentor Adalberto</li>
      <li class="list-button-item">Conversa com tutora Joana</li>
    </ul>
  </div>
</div>