<ul class="breadcrumb-mini">
  <li class="breadcrumb-mini-item breadcrumb-mini-compact icon-arrow-right-separator-gray_16_18-after">
    <%= link_to "Home", '/', :class => "breadcrumb-mini-link icon-home-lightblue_16_18-before" %></li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after">Conversas de João</li>
  <li class="breadcrumb-mini-item icon-arrow-right-separator-gray_16_18-after"><a class="breadcrumb-mini-link" href="#">Com Mentor Paulo</a></li>
</ul>
<h6 class="pull-right">07/10/20012</h6>
<table class="table-with-borderradius">
  <tbody>
    <tr>
      <td class="hcol">15:27:45</td>
      <td>João: Oi, professor!</td>
    </tr>
    <tr>
      <td>15:30:56</td>
      <td>Paulo: </td>
    </tr>
    <tr>
      <td>15:32:13</td>
      <td>João: </td>
    </tr>
  </tbody>
</table>
<br /><br />
<h6 class="pull-right">14/10/20012</h6>
<table class="table-with-borderradius">
  <tbody>
    <tr>
      <td class="hcol">15:27:45</td>
      <td>João: Oi, professor!</td>
    </tr>
    <tr>
      <td>15:30:56</td>
      <td>Paulo: </td>
    </tr>
    <tr>
      <td>15:32:13</td>
      <td>João: </td>
    </tr>
  </tbody>
</table>