<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if gt IE 8]><html class="gt-ie8"><![endif]-->
<!--[if gt IE 8]><!--><html><!--<![endif]-->
<head>
  <title>ChatLogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://use.typekit.com/lpo4rgu.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="js/vendor/selectivizr.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-global nav-global-fixed-top">
  <div class="nav-global-inner">
    <div class="nav-global-container">
      <a class="nav-global-brand logo-redu-gray_140_40" href="http://developers.redu.com.br/ui-components" title="Redu">Redu</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span10 offset3">
      <h1>eMentoring</h1>
      <h4>Visualização de conversações</h4>
      <br />
      <br />
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
